<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Quotes</key>
	<array>
		<string>Don&apos;t tell Mom the babysitter&apos;s</string>
		<string>The best gift I ever got was</string>
		<string>It&apos;s like Twitter meets</string>
		<string>It&apos;s like Uber, but for</string>
		<string>WOOOAHHH!! Livin&apos; on a</string>
		<string>It ain&apos;t over til it&apos;s</string>
		<string>Watch me whip. Watch me</string>
		<string>My favorite movie is</string>
		<string>The road to hell is paved with</string>
		<string>If I could go back in time, I’d prevent the invention of</string>
		<string>If I could go back in time and do only one thing, I would</string>
		<string>I never go to sleep without</string>
		<string>I hope I’m never attacked by</string>
		<string>I never leave home without my</string>
		<string>The coolest person I’ve ever met was</string>
		<string>My worst age was</string>
		<string>My best age was</string>
		<string>If you put your mind to it, you can</string>
		<string>It’s not delivery, it’s</string>
		<string>I never judge a book by it’s</string>
		<string>Every cloud has a silver</string>
		<string>Kill two birds with one</string>
		<string>The greatest anthropomorphized character in history is/was</string>
		<string>If Satan had a last name, it would be</string>
		<string>They made a movie about me. It was called</string>
		<string>My inevitable autobiography will be titled</string>
		<string>When I die, my tombstone will say</string>
		<string>If I was an animal I’d be a</string>
		<string>In high school, they called me</string>
		<string>Bury me with my</string>
	</array>
</dict>
</plist>
